@model IEnumerable<Pharmaceuticals.Models.Tablets>


<h1 class="text-center">All the Tablet Machines</h1>
<br />
<br />

<div class="container text-center">
    <div class="row">

        @foreach (var produt in Model)
        {
            <div class="col-md-4">

                <div class="card mb-4 shadow-sm">
                    <div class="card-body">
                        <h3 class="card-title">@produt.ModelNumber</h3>
                        <hr />

                        <p class="card-text fw-bold">Details:</p>
                        <p class="card-text">Dies: @produt.Dies </p>
                        <p class="card-text">MaxPressure: @produt.MaxPressure </p>
                        <p class="card-text">MaxDiameter: @produt.MaxDiameter</p>
                        <p class="card-text">MaxDepth: @produt.MaxDepth</p>
                        <p class="card-text">ProductionCapacity: @produt.ProductionCapacity</p>
                        <p class="card-text">MachineSize: @produt.MachineSize</p>
                        <p class="card-text">NetWeight: @produt.NetWeight</p>


                    </div>
                </div>

            </div>
        }

    </div>
</div>